{% extends 'memoryLoss/base.html' %}

{% block title %}{{ topic_title }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
	<h1> Welcome to ML by BusyMind</h1>
	</hr>


	{% if user.is_authenticated %}
	{% else %}
		<h3> Welcome: Register or Login above </h3>
	{% endif %}
</div>
<h3> Select a topic to get started, or start your own</h3>
	<div class="row-fluid">
		<div class="span5">
			<h2>Topics:</h2>
			{% if topic_list %}
			<ul class="row_fluid">
				{% for topic in topic_list %}
					<li><a href="{% url 'memoryLoss:topic_view' topic.pk %}">{{ topic.topic_title }} </a></li>
				{% endfor %}
			</ul>
			{% else %}
				<p> No topics available</p>
			{% endif %}
		</div>

		<div class="span5">
			<h2>Recently added links</h2>
			<ul>
				{% for link in topic.link_set.all|dictsort:'link.add_date'|slice:'5' %}
				<li><a href="{{ link.link_url }}">{{ link.link_description }}</a> - {{ link.topic }}
				{% endfor %}
			<ul>

		</div>
	</div>
	
 {% endblock %}




