
{% extends 'memCall/base.html' %}

{% block title %}{{ topic_title }}{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1>Register with MemCall by BusyMind</h1>
    <br />

    <div class="container">

        {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/memCall/login">Please Login.</a><br />
        {% else %}
        <form id="user_form" method="post" action="/memCall/register/" enctype="multipart/form-data">

            {% csrf_token %}
            {% csrf_token %}
            <h2 class="form-signin-heading">Sign up Here</h2>
            <!-- Display each form here -->

            {% for field in user_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}

            {% for field in profile_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}
            <br />

            <input type="submit" name="submit" value="Register" class="btn btn-primary" />
        </form>
        {% endif %}
    </div>
</div>
 {% endblock %}
