<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  </head>

  <body>
    <div class="container">
    <form action="/get_password" method="POST">
      <span>Select number of characters.</span>
      <input type="text" name="length"><br>
      <a class="btn btn-primary" href="/get_password">Generate Password</a>
    </form>
    </div>

    <div id="display" class="lead">

    </div>
  </body>
</html>


